@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    margin-bottom: 100px;
}

#app {
    width: 100%;
    max-width: 768px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

form input {
    border: 2px solid #aaa;
    color: #333;
    font-size: 14px;
    font-family: Lato;
    padding: 10px 15px;
    height: 40px;
    width: 300px;
	max-width: 100%;
}

form button {
    border: 1px solid #aaa;
    background-color: #aaa;
    color: #fff;
    padding: 0 12px;
    height: 40px;
}

form button:focus {
    outline: none;
}

form button:active {
    opacity: 0.7;
}

.book-card-container {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    min-height: 420px;
    margin: 0 auto 50px;
}

.image-container {
    -webkit-clip-path: circle(90% at 30px 30px);
    clip-path: circle(90% at 30px 30px);
    flex: 4;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 100%;
}

.book-info {
    display: flex;
    webkit-flex: 7; /* Safari 6.1+ */
    ms-flex: 7  ; /* IE 10 */
    flex: 7;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    padding: 30px 20px 30px 0;
    z-index: 1;
}

.book-info h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.book-info h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 20px 0 0;
}

.book-info h4 {
    margin: 20px 0 10px;
}

.book-info p {
    font-size: 14px;
    margin: 10px 0;
    width: 130%;
}

.book-info .tags-container {
    position: relative;
    width: 225%;
}

.book-info .tags-container span {
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 3px 10px;
    margin: 5px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
